<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CMIOExtension</key>
	<dict>
		<key>CMIOExtensionMachServiceName</key>
		<string>6D6948Z4MW.com.meetamask.app</string>
	</dict>
	<key>NSSystemExtensionUsageDescription</key>
	<string>MEETAMASK uses a camera extension to provide the “MEETAMASK Camera” virtual camera.</string>
</dict>
</plist>
